
---
---

<html lang="es">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>¡Gracias por Subscribirte! | Biocode Newsletter</title>
</head>
<body class="bg-gray-100 text-gray-800 flex items-center justify-center h-screen">
    <main class="container mx-auto p-8 max-w-md">
        <div class="bg-white p-8 rounded-lg shadow-md text-center">
            <h1 class="text-2xl font-bold text-emerald-green mb-6">¡Subscripción Exitosa!</h1>
            <p>Gracias por subscribirte a Biocode Weekly. Recibirás las últimas noticias sobre biohacking y longevidad directamente in tu email.</p>
            <a href="/" class="text-emerald-green hover:underline mt-6 block">Volver a la página principal</a>
        </div>
    </main>
</body>
</html>
