<header class="bg-gradient-main text-pure-white p-8 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/" class="text-3xl font-bold tracking-tight"><img src="/images/BIOCODE-10.png" alt="Biocode Logo" class="h-16"></a>
    <nav>
      <ul class="flex space-x-4">
        <li><a href="/newsletters" class="bg-emerald-green hover:bg-lime-green text-pure-white font-bold py-2 px-4 rounded-full transition-colors duration-200">Newsletters</a></li>
      </ul>
    </nav>
  </div>
</header>